@import 'settings';

/************************************************
*************** COMBAT INTERFACE ****************
************************************************/

.combat__interface {
    cursor: default;
    user-select: none;

    .character-infobox {
        position: absolute;
        width: 40rem;
        padding: 1rem 2rem;
        background: #C9C9C0;
        border: 4px solid #333;
        border-radius: 2rem 1rem;
        box-shadow: .2rem .2rem 1rem rgba(0, 0, 0, .4);

        &--ennemy {
            top: 4rem;
            left: 4rem;
            animation:
                opacity .4s calc(#{$room-animation-duration} - .4s) both,
                slide-left .4s calc(#{$room-animation-duration} - .4s) both;
        }
        &--player {
            bottom: calc(30% + 4rem);
            right: 4rem;
            animation:
                opacity .4s calc(#{$room-animation-duration} - .2s) both,
                slide-right .4s calc(#{$room-animation-duration} - .2s) both;
        }

        .name-area {
            display: flex;
            margin-bottom: 1rem;
            font-size: 2rem;
            text-transform: uppercase;
        }

        .character-level {
            display: block;
            margin-left: auto;
            text-transform: none;
        }

        .hp-bar {
            position: relative;
            width: 100%;
            height: 2.4rem;
            padding-left: 4rem;
            margin-bottom: 1rem;
            background: #333;
            border: 2px solid #333;
            border-radius: 1rem;
            box-shadow: .2rem .2rem 1rem rgba(0, 0, 0, .4);
            overflow: hidden;
            transform-origin: center left;

            /* "HP" label */
            &::before {
                content: "HP";
                position: absolute;
                top: 0;
                left: 0;
                width: 4rem;
                height: 100%;
                background: #333;
                color: #CCC;
                font-size: 1.8rem;
                font-weight: 700;
                line-height: 1.8rem;
                text-align: center;
            }

            /* White gradient overlay */
            &::after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                left: 4rem;
                height: 100%;
                background: linear-gradient(to bottom, rgba(255,255,255,.4), transparent);
            }

            .hp-bar__progress {
                width: 100%;
                height: 100%;
                background: hsl(120, 50%, 40%);
                transform: scaleX(1);
                transform-origin: left;
                transition: transform 2s cubic-bezier(0.6, 0.5, 0.3, 1), background 2s;
            }
        }

        .hp-area {
            font-size: 0;
            text-align: right;

            .current-hp, .max-hp { font-size: 2.2rem; }

            .max-hp::before {
                content: "/";
            }
        }
    }


    .interaction-area {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 30%;
        overflow: hidden;
        box-shadow: 0 0 1rem rgba(0, 0, 0, .4);
        font-size: 0;
    }

    .dialog-area {
        display: inline-block;
        width: 60%;
        height: 100%;
        vertical-align: top;
        padding: 2rem;
        background: #333;
        color: #CCC;
        font-size: 2rem;
    }

    .action-submenu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9;
        width: 60%;
        height: 100%;
        padding: 2rem 4rem;
        background: #222;
        color: #CCC;
        transform: translateX(100%);
        transition: transform .2s;

        &.active { transform: translateX(0); }
    }

    .submenu-item {
        display: flex;
        justify-content: space-between;
        font-size: 2rem;

        .item-name { display: block; position: relative; }

        &.current {
            color: $theme-color;

            .item-name::after {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: calc(100% + .2rem);
                width: 1.2rem;
                height: 2rem;
                background: #090;
                animation: blink .5s linear alternate infinite both;
            }
        }
    }
}

.action-menu {
    display: inline-flex;
    flex-flow: column wrap;
    position: relative;
    z-index: 10;
    vertical-align: top;
    width: 40%;
    height: 100%;
    margin-left: auto;
    // box-shadow: 0 0 2rem rgba(0, 0, 0, .9);
    font-size: 0;
}

    .action-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 50%;
        background: #222;
        box-shadow: inset 0 0 0 rgba(255, 255, 255, .2);
        color: #999;
        transition: color .2s, box-shadow .4s;

        // &:nth-of-type(-n+2) { border-bottom: 0; }
        // &:nth-of-type(2n+1) { border-right: 0; }
        
        &.current {
            color: #090;
            box-shadow: inset 0 0 0 #000;

            .action-btn-content { position: relative; }
            .action-btn-content::after {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: calc(100% + .2rem);
                width: 1.2rem;
                height: 2rem;
                background: #090;
                animation: blink .5s linear alternate infinite both;
            }
        }
        &.active {
            color: #CCC;
            box-shadow: inset 0 0 2rem #000;

            & .action-btn-content::after { display: none; }
        }

        .action-btn-content {
            font-size: 2rem;
            letter-spacing: .1rem;
            text-transform: uppercase;
        }
    }