/************************************************
******************* KEYFRAMES *******************
************************************************/

@keyframes vanish
{
    0% { display: initial; opacity: 1; }
    99% { display: initial; opacity: 0; }
    100% { display: none; opacity: 0; }
}

@keyframes float
{
    0% { transform: translateY(-2rem); }
    100% { transform: translateY(2rem); }
}

// @keyframes float
// {
//     0% { transform: translateY(10%); }
//     100% { transform: translateY(-10%); }
// }

@keyframes rotate {
    0% { transform: rotateY(0deg); }
    100% { transform: rotateY(12deg); }
}

@keyframes shadow {
    0% {
        transform: scale(1.4);
        // box-shadow: 0 0 10rem 3rem rgba(0,0,0,.5);
        // border-radius: 40%; // Not working: cancels scale animation
    }
    100% {
        transform: scale(1);
        // box-shadow: 0 0 5rem 2rem rgba(0,0,0,.5);
        // border-radius: 10%;
    }
}

@keyframes opacity {
    0% { opacity: 0; }
    100% { opacity: 1 }
}
@keyframes slide-right {
    0% { transform: translateX(-20%) }
    100% { transform: translateX(0) }
}
@keyframes slide-left {
    0% { transform: translateX(20%) }
    100% { transform: translateX(0) }
}

@keyframes blink {
    0% { opacity: 1; }
    49% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 0; }
}

@keyframes shakeX {
    0% { transform: translateX(-1rem); }
    100% { transform: translateX(1rem); }
}
@keyframes shakeX--big {
    0% { transform: translateX(-3rem); }
    100% { transform: translateX(3rem); }
}
@keyframes shakeY {
    0% { transform: translateY(-1rem); }
    100% { transform: translateY(1rem); }
}
@keyframes full-rotation {
    0% { transform: rotateY(0deg); }
    100% { transform: rotateY(360deg); }
}
@keyframes full-rotationZ
{
    0% { transform: rotateZ(0); }
    100% { transform: rotateZ(360deg); }
}

@keyframes shadow2 {
    0% { transform: scaleX(1.4); }
    100% { transform: scale(.8); }
}

@keyframes room-apparition--v1 {
    0% { transform: translateZ(-200rem) rotate3d(-1, 4, 1, 360deg) }
    100% { transform: translateZ(0) rotate3d(0); }
}
@keyframes room-apparition--v2 {
    0% { transform: translateZ(-200rem) rotateX(-90deg) rotateY(180deg) rotateZ(12deg) }
    100% { transform: translateZ(0) rotate(0); }
}
@keyframes room-apparition--v3 {
    0% {
        transform: matrix3d(
            1, 0, 0, 0,
            0, 0, -1, 0,
            0, 1, 0, 0,
            0, 0, -2000, 1)
    }
    100% { transform: matrix(1,0,0,1,0,0); }
}