// Theme
$theme-color: #090;

// Combat field settings
$perspective-size: 80rem;
$perspective-origin--x:
    // calc(50% + 100rem);
    50%;
$perspective-origin--y:
    // calc(50% - 20rem);
    50%;
$room-size: 120rem;
$room-pov: translate3d(10rem, -$room-size / 2, 20rem) rotateX(-20deg) rotateY(12deg);
$room-animation-duration: 3s;

// Missingno settings
$missingno-width: 10rem;
$missingno-height: 24rem;
$missingno-x: .50 * $room-size / 2;
$missingno-y:
    // $room-size / 2 - $missingno-height / 2 - 2rem; // ground - levitation margin
    42rem;
$missingno-z: -.50 * $room-size / 2;

// Mixins
@mixin absolute-center($width, $height)
{
    position: absolute;
    top: calc(50% - #{$height/2});
    left: calc(50% - #{$width/2});
}
@mixin backdrop-filter($value)
{
    -webkit-backdrop-filter: $value;
    -moz-backdrop-filter: $value;
    -ms-backdrop-filter: $value;
    -o-backdrop-filter: $value;
    backdrop-filter: $value;
}
@mixin box-shadow($value)
{
    -webkit-box-shadow: $value;
    -moz-box-shadow: $value;
    -ms-box-shadow: $value;
    -o-box-shadow: $value;
    box-shadow: $value;
}
@mixin clip-path($value)
{
    -webkit-clip-path: $value;
    -moz-clip-path: $value;
    -ms-clip-path: $value;
    -o-clip-path: $value;
    clip-path: $value;
}

